<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>Todo App</title>
</head>
<body>
    <nav>
        <div class="wrapper">
            <h1 class="logo"><a href="/">Todos</a></h1>
            <ul>
                <li><a class="logoutBtn" href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="wrapper">
        <h1 class="welcome">Welcome <%= user.username %></h1>
        <form action="/" method="POST">
            <div class="input_container">
                <input type="text" name="todo[body]" required placeholder="Create todo with auth...">
                <button class="submit_btn"><img src="../assets/icon.png" alt="icon"></button>
            </div>
            <% if(success && success.length) {%>
                <p class="success_message"><%= success %></p>
            <% } %>
            <% if(error && error.length) {%>
                <p class="error_message"><%= error %></p>
            <% } %>
        </form>
        <% if(todos.length > 0) {%>
            <div class="todos_container">
                <% todos.forEach(todo => { %>
                    <div class="todo-block">
                        <form class="completed_container" action="/<%= todo._id %>?_method=PUT" method="POST">
                            <% if(todo.isCompleted){ %>
                            <button class="complete_btn completed"><img src="../assets/completed.png" alt=" completed-icon"></button>
                            <% }else{ %>
                            <button class="complete_btn"></button>
                            <% } %>
                        </form>
                        <div>
                            <p class="todo-body"><%= todo.body %></p>
                            <p class="todo-moment"><%= moment(todo.createdAt).fromNow() %></p>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% }else{ %>
            <h2>no todos yet...</h2>
        <% } %>
    </div>
</body>
</html>